@use '../utils/variables' as *;
@use '../utils/mixins' as *;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-family;
}

.main {
  flex: 1;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  width: 100%;

  padding: 0 20px;

  @include desktop {
    max-width: 1023px;
  }

  @include tablet {
    max-width: 767px;
    padding: 0 15px;
  }

  @include mobile {
    max-width: 479px;
    padding: 0 15px;
  }
}
