$accent-color: #ffb800;
$primary-text-color: #000;
$secondary-text-color: #fff;
$main-bg-color: #fff;
$secondary-bg-color: #000;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$font-family: 'Roboto', sans-serif;
$second-family: 'Bebas Neue', sans-serif;
