<header class="header">
  <div class="container header__container">
    <a class="header__link" href="#">
      top antivirus
    </a>
    <img class="header__logo" width="159" height="29" src="./images/svg/logo-header.svg" alt="logo" />
  </div>

</header>

<main class="main">
  <section class="licenses">
    <div class="container">
      <h1 class="licenses__title js-title">thank you for choosing our product !</h1>
      <div class="licenses__container js-licenses-container" id="licenses-container">
        <div class="licenses__placeholder-card"></div>
        <div class="licenses__placeholder-card"></div>
        <div class="licenses__placeholder-card"></div>
      </div>
    </div>
  </section>
</main>
<footer class="footer">
  <div class="container footer__container">

    <a class="footer__link" href="#">
      top antivirus
    </a>
    <p class="footer__copyright">Copyright © 2021</p>
  </div>
</footer>

<div id="downloadArrow" class="download-arrow">
  <p class="download-arrow__text">
    <span class="download-arrow__text-upper">OPEN</span>
    your downloaded file
  </p>
</div>